:where(.contactForm){
    @apply 
        flex 
        flex-col 
        items-center 
        justify-center 
        bg-primary
        p-10 
        w-full
        h-full
        rounded-b-md
        lg:rounded-r-md;
        min-height: 30rem;
}

.contactForm :where(label){
    @apply 
        font-bold
        text-3xl
}

.contactForm :where(input, textarea){
    @apply 
        rounded-md
        py-3 
        px-10 
        mt-8 
        text-slate-950
        w-full
        border-black
        border-2
        text-wrap
}

.contactForm :where(button){
    @apply 
        bg-black
        mt-6 
        min-h-12 
        w-full
        rounded-lg 
        px-7 
        py-3 
        font-bold 
        hover:scale-110 
        transition-all 
        hover:bg-white 
        hover:text-primary 
        hover:border-primary 
        hover:border-2;
}